* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}
body {
    width: 100%;
}
p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #333;
    line-height: 1.3;
}
section {
    padding: 7rem 0;
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header style */
header {
    width: 100%;
    background-color: #eee;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    height: 7rem;
    padding: .5rem 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 1.6rem;
    padding: 0 1.5rem;
}
li a,
li a:visited,
li a:active {
    font-size: inherit ;
    font-weight: 500;
    text-decoration: none;
    color: #16697a;
    transition: .3s;
}

li a:hover,
ul li .current {
    color: #bb2205;
    font-size: 1.7rem;
}
 /*  intro section */
 .intro-section {
     background: url(./1-bg.jpg) no-repeat center;
     background-size: cover;
     height: 60vh;
 }

 .intro {
     width: 55%;
     color: #fff;
     background-color: rgba(0,0,0,.5);
     padding: 5rem 2rem;
     border-radius: 5px;
 }
.intro .intro-text {
     color: #bb2205;
     font-weight: 700;
     font-size: 1.7rem;
 }

 .p-head {
     font-size: 2.8rem;
     font-weight: 700;
     letter-spacing: 3px;
     margin-bottom: 1rem;
 }
 .p-head span {
     display: block;
 }

 .white-text {
     color: #fff;
     margin-bottom: 2.5rem;
 }
 .btn {
     font-size: 1.6rem;
     font-weight: 500;
     text-decoration: none;
     border: 1px solid #fff;
     padding: .8rem 1.6rem;
     border-radius: 5px;
     color: #fff;
     background-color: transparent;
     transition: all .3s;
 }

 .btn:hover {
     background-color: #bb2205;
 }


/* about section */
.about-sec {
    background-color: #eee;
}

.about {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    border-radius: 50px;
}
.paragraph {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: capitalize;
}

/* menu section */
/* menu section */
/* menu section */

.menu {
    background-attachment: #fff;
}
.menu h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.menu-head {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.menu-items {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.menu-item {
    width: 100%;
    margin: 1rem;
    border: 1px solid #eee;
    border-radius:5px ;
    overflow: hidden;
    
}
.menu-item img {
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
}
.menu-text h3 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
    text-transform: capitalize;
    margin-bottom: .5rem;
    padding: 1rem;
}
 .menu-text p{
    padding: 1rem;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

/*  */
/* testimonial section*/
/* testimonial section*/
/* testimonial section*/

.testimonial-section {
    background: url(./bg-3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.testimonial{
    width: 60%;
    text-align: center;
    padding: 5rem;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
}
.testimonial img {
    width: 20%;
    border-radius: 50%;
}
.testimonial h2 {
    font-size: 2.5rem;
}
.testimonial h4 {
    font-size: 1.6rem;
    margin-bottom: .5rem;
    color: #333;
    font-weight: 500;
}
 /* order section */
 /* order section */
 /* order section */
 .order-section {
     background-color: #eee;
 }
 .order {
     width: 75%;
     margin: 0 auto;
     padding: 3rem 0;
 }
 .order-head {
     text-align: center;
 }

 .order-head h2 {
     font-size: 2.5rem;
     text-transform: capitalize;
 }
  .order1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 1rem;
  }
  .order-item img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
  }
  .order-item h4 {
      font-size: 1.6rem;
      color: #333;
      margin-bottom: .5rem;
  }
  .order-item {
      width: 70%;
      display: flex;
      align-items: center;
  }
  .order-item p {
    font-size: 1.6rem;
  }
  .order-price p {
      font-size: 500;
      padding: 2rem 0;
  }
  .btn-solid {
      background-color: #bb2205;
  }
  footer {
    width: 100%;
    background-color: rgb(71, 126, 189);
    width: 100%;
    height: 6rem;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}
.footer .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-header li{
    text-decoration: none;
    list-style: none;
    font-size: 1.8rem;
    padding: 0 1.5rem;
}
footer p {
    color: #fff;
}
.footer-header a {
    color: #fff !important;
}
 /* medai queries */
 @media screen and (max-width: 600px) {
    .intro {
        width: 100%;
    }
    .about{
        width: 100%;
    }
    .menu-items{
        flex-direction: column;
    }
    .testimonial {
        width: 100%;
    }
    .order {
        width: 100%;
    }
    .order-item img {
        width: 8rem;
        height: 8rem;
 }
 .order-item p {
    font-size: 1.3rem;
}
 }
    